$blue: #32425c;
$blue_darken: #293449;
$blue_lighten: #b7bfc8;
$light_blue: #f1f5f7;
$light_blue_darken: #c1c6ce;
$red: #ee3643;
$red_darken: #b52933;
$red_hover: #ca2c37;
$green: #63a63e;
$green_darken: #377416;
$green_hover: #5fbb2d;
$cream: #ffd180;
$cream_lighten: #f9f5f0;
$gray: #eaeaea;

$font-size_heading_main: 30px;
$font-size_heading_big: 36px;
$font-size_heading_sm: 24px;
