.main-logo {
  display: block;
  width: 220px;
  height: 43px;
  background-color: #ee3643;
  border-bottom-width: 5px;
  border-bottom-color: #b52933;
  border-bottom-style: solid;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
}
