.search-field {
    float: right;
    width: 220px;
    height: 40px;
    padding-left: 49px;
    border: none;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background-color: #293449;
    outline: 0;
}
